@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

.container {
    max-width: 25%;
    margin:  0px;
    padding: 10px;
    border: 2px solid #ddd;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
    margin-left: 37%;
    height:570px;
    
}
.amazonlogo{
    position: relative;
    align-items: center;
    margin-left:43%;
}
h1{
    font-weight: 300;
    text-align: left;
}
input {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
}
label{
    font-size: 15px;
    font-weight: 20px;
}
span{
    color: blue;
}
hr{
    color:whitesmoke;
}
button {
    width:95%;
    padding: 10px 20px;
    background-color :#f0c14b;
    color: #fff;
    border: none;
    cursor: pointer;
}