.table1{
  width: 500px;
  margin: auto;
  padding: 15px;
  background-color:aquamarine;
  border: 20px solid rgb(150, 150, 239);
}
h1{
  border: 2px solid;
  font-size: 35px;
  width:350px;
  margin: auto;
  background-color: rgb(215, 208, 208);
  box-shadow:12px 6px 12px rgb(243, 87, 136);
  margin-bottom: 15px;
}
.container{
  text-align: center; 
}
input{
  font-size: 40px;
  background-color: rgb(244, 222, 193);
}
button{
  font-size: 38px;
  background-color: rgb(182, 161, 202);
  height: 100px;
  width: 170px;
  padding: 5px;
  cursor: pointer;
  margin: 4px;
}
.t2{
  background-color: rgb(227, 125, 91);
}
.t1{
  background-color: rgb(245, 183, 204);
}
.tt1{
  background-color: rgb(137, 204, 227);
}